html, body
	{
	background-color: #FFFBF1;
	font-family: Calibri, Arial, sans-serif;
	color: black;
    font-size: initial;
	}
	
#header
	{
	/* 
    width: unknown;
    height: unknown;
        to be changed according to img size, values here are just for demonstration
    */
    width:  702px;
    height:  350px;
    margin: 0 auto 0;
	}
#header-interior
    {
    margin: 0 auto 0;
}

#nav     
    {
    font-size: 16px;
    text-align: center;
    color: white;
    height: 39px;
    width:  702px; /* this is set according to the nav bar link boxes, find out a simpler way to auto create the right size boxes*/
    margin: 0 auto 0;
    }

#navbar
    {
    position: absolute;
    background-color: rgba(0,0,0,.6);
    list-style-type:  none;
    margin:  0;
    padding: 0;
    width: 702px;
    height: 39px;
    }

#navbar li
    {
    display:  inline;
    float: left;
    }

#navbar li a
    {
    font-family: 'Copperplate Gothic', 'Copperplate Gothic Light', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: block;
    width: 97px;
    padding: 10px;
    }

#navbar li a:hover
    {
    color: white;
    background-color: #C64804;
}

#navbar li a.resources{
    font-size: 15px;
    padding-top: 11px;
}

#content
    {
    width: 702px;
    margin: 0 auto 0;    
    padding: 10px;
    background-color: white;
}

#upper-content
    {
    text-align: center;
    background-color: white;
}

h1
    {
    font-weight: normal;
    font-size: 18px;
    font-family: 'Copperplate Gothic', 'Copperplate Gothic Light', sans-serif;
}

h2{
    font-weight:  normal;
    font-size: 16px;
    font-family: 'Copperplate Gothic', 'Copperplate Gothic Light', sans-serif;
}
#lower-content
    {
    height: 220px;
    text-align: center;
    background-color: white;
}

.contentInterior{
    padding:  10px;
    background-color: white;   
}

#left
    {
    width: 220px;
    float: left;
    background-color: white;
}

#middle
    {
    display: inline-block;
    width: 220px;
    margin: auto;
    background-color: white;
}

#right
    {
    float: right;
    width: 220px;
    background-color: white;
}

#photo-gallery
    {
    /*to be determined*/
}

#footer
    {
    width: 702px;
}