html, body
	{
	background-color: #FFD072;
	font-family: Calibri, Arial, sans-serif;
	color: black;
    font-size: 18px;
    padding: 0;
    margin: 0;
	}
	
#header /*contains header-interior and social links*/
	{
    width:  702px;
    height:  350px;
    margin: 0 auto 0;
	}

#header-interior /*contains header img*/
    {
    margin: 0 auto 0;
}

#nav     /*div containing the ul*/
    {
    font-size: 18px;
    text-align: center;
    color: white;
    height: 39px;
    width:  702px; 
    margin: 0 auto 0;
    }

#navbar /*the ul element*/
    {
    position: absolute;
    background-color: rgba(0,0,0,.6);
    list-style-type:  none;
    margin:  0;
    padding: 0;
    width: 702px;
    height: 39px;
    }

#navbar li
    {
    display:  inline;
    float: left;
    }

#navbar li a
    {
    font-family: 'Copperplate Gothic', 'Copperplate Gothic Light', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: block;
    width: 97px;
    padding: 8px;
    text-shadow: 2px 2px 2px black;
    }

#navbar li a:hover
    {
    color: white;
    background-color: #C64804;
    height: 25px;
    padding-top: 15px;
}

#navbar li a.resources{
    font-size: 17px;
    padding-top: 8px;
    text-shadow: 2px 2px 2px black;
}

#navbar li a:hover.resources {
    color: white;
    background-color: #C64804;
    height: 25px;
    padding-top: 15px;
}

#content /*overall body, contains upper-content and lower-content in index*/
    {
    background-color: white;
    overflow: hidden;
    width: 683px;
    margin: 0 auto 0;    
    padding: 9px;
}

#upper-content /*used in index in order to create the 3 divs side by side*/
    {
    text-align: center;
}

h1
    {
    font-weight: bold;
    font-size: 36px;
    font-family: Century Gothic, sans-serif;
}

h2{
    font-weight:  bold;
    font-size: 18px;
    font-family: Century Gothic, sans-serif;
}

h3
    {
    font-weight: bold;
    font-size: 16px;
    font-family: Century Gothic, sans-serif;
}

#lower-content /*groups the left, middle, right divs together*/
    {
    height: 220px;
    text-align: center;

}

#left
    {
    width: 200px;
    float: left;

}

#middle
    {
    display: inline-block;
    width: 200px;
    margin: auto;

}

#right
    {
    float: right;
    width: 200px;

}

#photo-gallery
    {
    /*to be determined*/
}


#footer
    {
    position: relative;
    width: 701px;
    clear: both;
    margin:  0 auto 0;
    height: 250px;  /*can change accordingly*/
    background-color: #C64804;
}

a:link {
    text-decoration: none;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
    color: white;
    font-family: Calibri;
}

h4 {
    color: #FFD072;
}

.site-map {
    position: absolute;
    top: 0;
    padding-left: 30px;
    width: 150px;
    height: 170px;
}


.connect {
    position: absolute;
    margin-left: 190px;
    width: 150px;
    height: 170px;
}

.contact {
    position: absolute;
    margin-left: 350px;
    width: 150px;
    height: 170px;
}


.terms {
    position: absolute;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 550px;
    width: 150px;
    height: 40px;
    text-align: right;
}

p
    {
    margin: 0; /*to avoid default margin creating unwanted spaces*/
    padding: 10px 10px 20px;
}

/**the following css is for login page */

#sign-in
    {
    float: left;
    width: 300px;
    margin: 0 10px 0;
    padding-top: 100px;
    height: 100%;
}

#sign-up
    {
    border-left: 1.5px #C64804 solid;
    float: right;
    width: 300px;
    margin:  0 10px 0;
    padding-left: 30px;
    height: 100%;
}


.form-format /*overall form field styling*/
    {
    border: 1px #DADADA dashed;
    background-color: #F7F7F7;
    padding: 20px 50px;
    text-shadow: 1px 2px 2px #808080;
}

.form-format input[type="text"], .form-format input[type="email"], .form-format input[type="password"] {
    border: 1px dotted #DADADA;
    color: #5E5E5E;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 90%;
    font-size: 14px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}    
.button {
    background: #E27575;
    border: none;
    padding: 10px 65px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background: #CF7A7A;
}

/**the following css is for toolkit page */

#text-content {
    text-align: left;
}

#pdf-content {
    /*to be determined*/
}

/*the following css is for resources page*/
/*to be determined with real link content, possibly simplifying classes*/

/*the following css is for pledge page*/

#pledge {
    text-align: center;
}
